@import '@styles/funs.scss';
@import '@styles/reset.scss';

html, body {
    width: 100%;
    height: 100%;
    text-align: center;
}

$body-background-color: transparent;
$font-color: #000;

body {
    background: $body-background-color;
    color: $font-color;
    font-size: 24px; // 默认 640px 设计，字体 24px
}